<mat-toolbar color="primary" style="height: 7%">
  <button mat-icon-button class="example-icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="'/home'" style="cursor: pointer"> Critical Role Campaign 2: Search Engine</span>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" >
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" >
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
