.search-characters {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0 0;

  &__inputs-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 80%;

    margin-top: 16px;
    &__field {
      width: 20%;
    }

    &__fieldFinal {
      width: 20%;
      margin-right: 7%;
    }

    &__input {
      text-align: center;
    }
  }

  &__characters-container {
    flex: 6;
    overflow-y: auto;
    height: 0;
    margin: 0 12.5% 5% 12.5%;
    padding: 0;
    width: 80%;
  }

  &__spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 6;
    overflow-y: auto;
    height: 0;
    margin: 0 12.5% 5% 12.5%;
    padding: 0;
  }
}
