.example-header-image {
  background-size: cover;
  height: 80px;
  width: 80px;
}
.characters {
  overflow-y: auto;
  margin-right:3%;

  &__card {
    padding: 24px;
    margin-right: 24px;
  }

  &__content {
    margin-right: 48px;

    &__list {
      li {
        p {
          margin: 10px 0;
        }
      }

    }
  }

  &__title {
    margin-top: 14px;
    font-size: 28px;
    color: rgb(63, 81, 181, 1);
  }

  &__subtitle {
    font-size: 18px;
  }

  &__text {
    font-size: 20px;
    strong {
      color: rgb(63, 81, 181, 1);
    }
  }

  &__timestamp {
    font-size: 18px;
  }

  &__button {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    p {
      margin: 0;
      font-size: 20px;
    }
    mat-icon {
      color: rgb(255, 64, 129, 1);
    }
  }
}
