<div *ngIf="characters.length > 0" class="characters">
  <ng-container *ngFor="let character of characters">
    <mat-card class="characters__card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="characters__title"><strong>{{character.name}}</strong>
        </mat-card-title>
        <mat-card-subtitle>{{character.actor_nickname}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="characters__content">
        <p class="characters__text">"{{character.actor_nickname}}"</p>
      </mat-card-content>
    </mat-card>
    <br>
  </ng-container>
</div>


