<form class="example-form critrole-search-bar">
  <mat-icon (click)="search()"  class="critrole-search-bar__icon mat-accent">search</mat-icon>
  <mat-form-field  color='accent' class="example-full-width critrole-search-bar__form"  appearance="fill">
    <mat-label  >Search</mat-label>
    <input (keyup.enter)="search()" (ngModelChange)="setText()"  [minlength]="2" class="critrole-search-bar__textarea"  matInput [(ngModel)]="text" name="1" >
    <mat-hint  align="start"><strong>Press ENTER to search, minimum of 3 characters if no episode selected.</strong> </mat-hint>
  </mat-form-field>
</form>


