<byoc-toolbar (isSidebarOpenEvent)="setIsSidebarOpen($event)"></byoc-toolbar>

<mat-drawer-container class="content" >
  <mat-drawer class="sidebar" mode="side" [opened]="isSidebarOpen" >

    <mat-nav-list style="padding: 0">
      <mat-divider ></mat-divider>
      <a  mat-list-item routerLink="/search-transcripts"><mat-icon style="margin-right: 10px">search</mat-icon> <mat-icon style="margin-right: 10px">description</mat-icon> Search Transcripts</a>
      <mat-divider ></mat-divider>
      <a  mat-list-item routerLink="/search-characters"><mat-icon style="margin-right: 10px">search</mat-icon> <mat-icon style="margin-right: 10px">person</mat-icon> Search Characters</a>
      <mat-divider ></mat-divider>

      <mat-divider ></mat-divider>
      <a  mat-list-item routerLink="/character-interaction"><mat-icon style="margin-right: 10px">bar_chart</mat-icon> <mat-icon style="margin-right: 10px">person</mat-icon> Character Interaction</a>
      <a  mat-list-item routerLink="/word-usage"><mat-icon style="margin-right: 10px">bar_chart</mat-icon> <mat-icon style="margin-right: 10px">description</mat-icon> Word Usage Analysis</a>
      <mat-divider ></mat-divider>
      <a  mat-list-item routerLink="/rank-word-usage"><mat-icon style="margin-right: 10px">bar_chart</mat-icon> <mat-icon style="margin-right: 10px">description</mat-icon> Word Usage Ranking</a>
      <mat-divider ></mat-divider>


      <a  mat-list-item routerLink="/wordcloud"><mat-icon style="margin-right: 10px">cloud</mat-icon> <mat-icon style="margin-right: 10px">description</mat-icon> Wordcloud</a>
      <mat-divider ></mat-divider>
      <a  mat-list-item routerLink="/dice-wordcloud"><mat-icon style="margin-right: 10px">cloud</mat-icon> <mat-icon style="margin-right: 10px">casino</mat-icon> Wordcloud By Dice Roll</a>
      <mat-divider ></mat-divider>

      <a  mat-list-item routerLink="/analyze-dice-rolls"><mat-icon style="margin-right: 10px">show_chart</mat-icon> <mat-icon style="margin-right: 10px">casino</mat-icon> Average Dice Rolls</a>
      <mat-divider ></mat-divider>

      <a  mat-list-item routerLink="/in-combat-transcripts"><mat-icon style="margin-right: 10px">track_changes</mat-icon> <mat-icon style="margin-right: 10px">description</mat-icon> In Combat Transcripts</a>
      <mat-divider ></mat-divider>

    </mat-nav-list>

  </mat-drawer>
  <router-outlet ></router-outlet>
</mat-drawer-container>
