<div class="home">


  <div class="home__search-bar-container">
    <critrole-search-bar></critrole-search-bar>
  </div>

  <div class="home__sections-container">

    <div class="home__sections-container__section">


      <mat-card class="home__sections-container__card" >
        <mat-card-title-group>
          <mat-card-title>1. Choosing Parts</mat-card-title>
          <mat-card-subtitle> Function and compatability</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="home__sections-container__list">

          </ul>
          <ul class="home__sections-container__list">

          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="home__sections-container__card" [routerLink]="'/section/2/subsection/1'">
        <mat-card-title-group>
          <mat-card-title>2. Buying Parts</mat-card-title>
          <mat-card-subtitle>Pricing and tips </mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="home__sections-container__list">

          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="home__sections-container__section">

    </div>
  </div>




</div>


